
h1, h2 {
    font-family: 'Montserrat', sans-serif;
  
}
p {
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url("assets/bckgrnd.png");
}
section{
    background-color: #969696;
    opacity: 0.60;
    padding: 25px;
    color: #FFFFFF;
    border-top: 1px solid white;
    
}
#selfie{
    border: 3px solid #2c5fa8;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 20px;
}

a {
    padding: 20px;
}

article {
    color: #333333;
}
.mywork {
    padding: 60px;
    margin: 10px;
    padding-bottom: 30px;
}

.foot {
    text-align: center;
    font-size: 12px;
    border-top: 3px solid white;
    
}

.title {
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-size: 30;
}
